.dropdown{
    width: 400px;
    user-select: none;
    margin: -3px auto;
    position: absolute;
    bottom: 54%;
}
.dropdown .dropdown-btn{
    padding: 10px;
    background: #fff;
    box-shadow: 3px 3px 10px 6px rgb(0 0 0 / 6%);
    font-weight: bold;
    color: #333;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    width: 52%;
    float: right;
}
.dropdown .dropdown-content{
    position: absolute;
    top: 110%;
    right: 0;
    padding: 10px;
    background: #fff;
    box-shadow: 3px 3px 10px 6px rgba(0,0,0,0.06);
    font-weight: 500;
    color: #333;
    width: 52%;
    z-index: 1;
}
.dropdown .dropdown-content .dropdown-item{
    padding: 10px;
    cursor: pointer;
    transition: all 0.2s;

}
.dropdown .dropdown-content .dropdown-item:hover{
   background: #f4f4f4;
}
.z-index-1{
    z-index: 1;
}
.width-169{
    width: 169px;
}
.right-0{
    right: 0;
}
.text-left{
    text-align: left;
}